image: danteev/texlive

compile-thesis:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - latexmk -pdf thesis
  artifacts:
    paths:
      - "*.pdf"
