*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.lot
*.lof
*.nav
*.snm
*.vrb
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.loa
*.lol
*.nlo
*.nls
*.thm
*.tdo
*.dvi
*.ps
*.xdv
*.ist
